<div>
  <input type="text" #inputValue class="input-group-text" >
</div>
<div class="row">
    <div class="card border" style="width: 18rem;" *ngFor="let twat of twat"  >
      <div *ngIf='!CheckWord("so",twat.text) || CheckWord("Hunt",twat.text); else elseCard'>
        <div class="card-body">
          <h5 class="card-title">{{ twat.date | date:'dd/MM-yyyy HH:mm' }}</h5>
          <p class="card-text">{{twat.text}}</p>
          <p class="text-danger">{{twat.likes}}</p>
        </div>
      </div>
      <ng-template #elseCard>
        <div class="card-body bg-secondary">
          <h5 class="card-title">{{ twat.date | date:'dd/MM-yyyy HH:mm' }}</h5>
          <p class="card-text">{{twat.text}}</p>
        </div>
      </ng-template>
    </div>
</div>
